<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClrPlus.Core" version="1.8.0.74" targetFramework="net40" />
  <package id="ClrPlus.Platform" version="1.8.0.74" targetFramework="net40" />
  <package id="ClrPlus.Powershell.Azure" version="1.8.0.74" targetFramework="net40" />
  <package id="ClrPlus.Powershell.Core" version="1.8.0.74" targetFramework="net40" />
  <package id="ClrPlus.Powershell.Provider" version="1.8.0.74" targetFramework="net40" />
  <package id="ClrPlus.Scripting" version="1.8.0.74" targetFramework="net40" />
  <package id="ClrPlus.Windows.Api" version="1.8.0.74" targetFramework="net40" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.4.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.4.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.44" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.44" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.44" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.44" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.44" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="1.4.0.64" targetFramework="net40" />
  <package id="System.Spatial" version="5.4.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="2.0.5.1" targetFramework="net40" />
</packages>