<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCI" version="1.0.13" targetFramework="net45" />
  <package id="ClrPlus.Core" version="1.8.0.80" targetFramework="net45" />
  <package id="ClrPlus.Platform" version="1.8.0.80" targetFramework="net45" />
  <package id="ClrPlus.Powershell.Azure" version="1.8.0.80" targetFramework="net45" />
  <package id="ClrPlus.Powershell.Core" version="1.8.0.80" targetFramework="net45" />
  <package id="ClrPlus.Powershell.Provider" version="1.8.0.80" targetFramework="net45" />
  <package id="ClrPlus.Scripting" version="1.8.0.80" targetFramework="net45" />
  <package id="ClrPlus.Windows.Api" version="1.8.0.80" targetFramework="net45" />
  <package id="ClrPlus.Windows.PeBinary" version="1.8.0.80" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.5" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net45" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="NLog.Config" version="2.0.1.2" targetFramework="net45" />
  <package id="NLog.Schema" version="2.0.1.2" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.Logging.NLog" version="1.0.8.0" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.48" targetFramework="net45" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.0.5.1" targetFramework="net45" />
</packages>